table tr th {
    background: #777777;
    color: azure;
}

tbody tr {
    font-size: 12px !important;
}

h3 {
    margin-top: 100px;
}

a:hover {
    cursor: pointer;
    color: white !important;
    background: #008849;
}

b {
    display: flex;
    flex-direction: row-reverse;
}

.row {
    display: -ms-flexbox;
    display: flex;
    justify-content: space-evenly;
}

.mt-5,
.my-5 {
    margin-top: 1rem !important;
}

.pagination {
    justify-content: center;
    margin: 16px 0;
}

.btn-primary,
.btn_detalles{
    background-color: #008eca;
    border-color: #008eca;
}

.btn-primary:hover,
.btn_detalles:hover {
    color: #fff;
    background-color: #0069b4;
    border-color: #0069b4;
}

