nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #24252a;
    padding-left: 5vw;
}

nav p {
    margin-bottom: 0rem;
}

.cont-ul {
    display: flex;
    align-items: center;
    margin-bottom: 0rem;
}

.btns {
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
    padding: 1.5vw;
    transition: all .3s ease 0s;
}

li:hover {
    background-color: #008849;
    color: white;
}

.develop {
    position: relative;
}

.mensaje_eliminar {
    margin-top: 0px;
    padding-top: 20px;
    text-align: center;
    width: 100%;
}

.estad_sopa,
.estad_trivia {
    background-color: white;
}

.ul-second {
    display: none;
    position: absolute;
    margin-top: 1.5vw;
    position: absolute;
    z-index: 1;
    right: 0vw;
}

.btno-config {
    border-radius: 10px;
    width: 10%;
    border: none;
    margin: 0px 0px 10px;
    background: white;
}

.config {
    text-align: end;
}

.ul-second>li {
    width: 400px;
    border-bottom: solid 1px #fff;
    text-align: center;
    background-color: #24252a;
    padding-top: 8px;
}

.ul-second>li:hover {
    background-color: #008849;
}

.develop:hover>.ul-second {
    display: block;
}

.ul-third {
    position: absolute;
    transform: translateX(100%);
    right: 0;
    top: 40%;
    display: none;
    background-color: #24252a;
}

.ul-third>li {
    padding: 1.5vw;
    border-bottom: solid 1px #fff;
}

.front:hover>.ul-third {
    display: block;
}

@media (max-width:900px) {
    .logo {
        display: none;
    }
}

.cont-ul a,
.logo,
.develop {
    text-decoration: none;
    color: white;
}

ul {
    margin-bottom: 0rem;
}