@font-face{
    font-family: Montseerat-Regular;
    src: url(Montserrat-Regular.ttf);
}

body{
    font-family: Montseerat-Regular;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 65px;
    height: 25rem;
}

.card-body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card {
    width: 18rem;
}

.botones {
    width: 80%;
    background-color: #008eca;
    border: none;
    border-radius: 0.25rem;
    margin: 10px 0px;
    height: 2rem;
    color: white;
}

@media(max-width:1326px) {
    .cards {
        margin-top: 40px
    }
}

@media(max-width: 698px) {
    .cards {
        align-items: center;
        height: auto;
        flex-direction: column;
        margin-top: 35px;
    }
    .card {
        width: 70%;
        margin-bottom: 20px;
    }
    .card-body {
        padding: 2px;
        margin-bottom: 10px;
    }
    .card-text {
        margin-bottom: 0px;
    }
    .botones {
        margin-bottom: 0px;
    }
}