* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/question-mark-g57ea2a59e_640.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.5rem;
}

#title {
    text-align: center;
    border-radius: 1rem;
    margin: 1rem 4rem;
    padding: 0.8rem 0;
    font-size: 3rem;
    background: rgba(229, 252, 250, 0.793);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.cabecera {
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
}

.back {
    display: flex;
    justify-content: space-around;
}

.tiempo {
    display: flex;
}

.questions,
#instrucciones {
    padding: 1rem;
    border-radius: 1rem;
    margin: 0.5rem 4rem;
    padding: 1rem;
    background: rgba(229, 252, 250, 0.793);
    cursor: default;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.questions {
    display: none;
}

#instrucciones {
    text-align: center;
    align-items: center;
}

#container_btnos {
    display: flex;
    justify-content: space-between;
}

#question {
    margin-bottom: 1rem;
    text-align: center;
}

.option {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    border-bottom: solid 0.1rem blue;
    width: 15rem;
    background: lightblue;
    border-radius: 1rem;
}

.option:hover {
    color: white;
}

ol {
    position: relative;
    padding: 0 1.5rem;
    color: rgb(1, 73, 73);
    display: flex;
    width: 50%;
    height: 91%;
    flex-direction: column;
    justify-content: space-around;
}

span,
.preguntas label {
    padding: 0.1rem 0.7rem;
    border-radius: 1rem;
    cursor: pointer;
}

.preg1 {
    background-color: #03A0E9;
}

.preg2 {
    background-color: #F0CC31;
}

.preg3 {
    background-color: #F28F00;
}

.preg4 {
    background-color: #E03D74;
}


/*#container_question {
    display: flex;
    justify-content: space-evenly;
}*/

#answer {
    margin-top: 2.5rem;
}

#stat {
    margin-top: 1.5rem;
    color: rgb(6, 17, 168);
    text-align: end;
}

.preguntas {
    display: flex;
    justify-content: space-around;
    margin: 25px 0px;
}

.pregunta {
    width: 40%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
}

.buttons {
    text-align: center;
}

.atras {
    text-decoration: none !important;
    padding: 0.2rem 1.5rem;
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: 1.5rem;
    color: white !important;
    text-decoration: none;
    background-color: #5c636a;
    border-color: #565e64;
    font-family: inherit;
}

button:active {
    background: lavender;
}

#scoreboard,
#answerBank {
    width: 20rem;
    background: rgba(230, 230, 250, 0.77);
    padding: 2rem;
    text-align: center;
    margin: auto;
    position: relative;
    top: 5rem;
    display: none;
}

#score-title {
    margin: 1rem 0;
}

#score-btn,
#check-answer {
    margin-top: 1rem;
}

#score {
    font-size: 2.5rem;
}

#answerBank li {
    text-align: left;
    margin-bottom: 0.2rem;
    font-size: larger;
}

#answers {
    margin-top: 1rem;
}

@media(max-width:1120px) {
    ol {
        width: 60%;
    }
}

@media(max-width:950px) {
    ol {
        width: 75%;
    }
}

@media(max-width:802px) {
    #title,
    .questions {
        margin: 16px 35px;
    }
    #instrucciones {
        margin: 0.5rem 35px;
    }
}

@media(max-width:743px) {
    ol {
        width: 90%;
        margin-bottom: 0px;
        padding: 0px
    }
    body {
        font-size: 1.2rem;
    }
    h1 {
        font-size: 2rem !important;
    }
}

@media(max-width:577px) {
    .cabecera {
        flex-direction: column;
        margin: 0px;
    }
    .back {
        justify-content: space-between;
    }
    .tiempo {
        justify-content: center;
    }
    #question {
        margin-bottom: 0px;
    }
    .preguntas {
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .preg2,
    .preg4 {
        margin-top: 10px;
    }
    .pregunta {
        width: 100%;
        height: 50px;
    }
    #stat {
        margin: 0px;
    }
}