h1 {
    color: black;
}

body {
    background-color: black;
}

.padre {
    display: flex;
    justify-content: center;
    height: 50%;
}

.tiempo h2 {
    margin: 2% 0;
}

#instrucciones h2 {
    margin-top: 25px;
}

#puzzle div button {
    border-right: 3px #eee solid;
}

#cont_words {
    margin: 15px 0;
}

.cont {
    display: flex;
    justify-content: space-around;
}

.cont_puntos {
    display: flex;
    justify-content: center;
}

#mk {
    margin: 7% 0;
}

#comenzar {
    text-align: center;
}

#btn_empezar {
    margin: 10px;
}

.contenedor_central {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.tiempo {
    display: flex;
}

.encabezado {
    width: 80%
}

#cont_words {
    display: none;
    flex-direction: column;
    justify-content: center;
}

#salir {
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    width: 76%;
    border-radius: 15px;
}

.o {
    margin: 10px;
}

body {
    background-image: url("../img/fondoSopa.gif");
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-position: center;
    padding: 0px;
}

h1,
#instrucciones h2 {
    text-align: center;
}

.contenido {
    display: none;
}

.puzzle {
    justify-items: center;
    justify-content: center;
}


/**
  * Styles for the puzzle
  */

#puzzle {
    border: 3px #999 solid;
    padding: 2px;
    float: left;
    margin: 10px 20px;
    display: none;
}

#lista_instrucciones {
    font-size: larger;
    text-align: center;
}

ol li,
ol b {
    margin-top: 20px;
}

#puzzle div {
    width: 100%;
    margin: 0 auto;
}


/* style for each square in the puzzle */

#puzzle .puzzleSquare {
    height: 30px;
    width: 30px;
    text-transform: uppercase;
    background-color: white;
    border: 0;
    font: 1em sans-serif;
    border-bottom: 1px #eee solid;
    border-right: 1px #eee solid;
}

#puzzle .puzzleSquare1:disabled {
    background-color: wheat;
}

button::-moz-focus-inner {
    border: 0;
}


/* indicates when a square has been selected */

#puzzle .selected {
    background-color: #fdc500;
}

#puzzle .selected1:disabled {
    background-color: #fdc500;
}


/* indicates that the square is part of a word that has been found */

#puzzle .found0 {
    background-color: #FF6633;
    color: white;
}

#puzzle .found1 {
    background-color: #f11520;
    color: white;
}

#puzzle .found2 {
    background-color: #999966;
    color: white;
}

#puzzle .found3 {
    background-color: #CCFF1A;
    color: white;
}

#puzzle .found4 {
    background-color: #991AFF;
    color: white;
}

#puzzle .found5 {
    background-color: #eb229a;
    color: white;
}

#puzzle .found6 {
    background-color: #1AB399;
    color: white;
}

#puzzle .found7 {
    background-color: #00B3E6;
    color: white;
}

#puzzle .found8 {
    background-color: #FFB399;
    color: white;
}

#puzzle .found9 {
    background-color: blue;
    color: white;
}

#puzzle .found10 {
    background-color: #d875bf;
    color: white;
}

#puzzleSquare .selected1:disabled {
    background: cadetblue;
}

#puzzle .solved {
    background-color: purple;
    color: white;
}


/* indicates that all words have been found */

#puzzle .complete {
    color: grey;
}


/**
  * Styles for the word list
  */

#words {
    padding-top: 20px;
}

#words li {
    padding: 3px 0;
    font: 1em sans-serif;
}


/* indicates that the word has been found */

#words .wordFound {
    text-decoration: line-through;
    color: gray;
}


/**
  * Styles for the button
  */

#solve {
    margin: 0 30px;
}

@media(max-width:1326px) {
    .contenedor_central,
    .encabezado {
        width: 100%;
    }
    #instrucciones h2 {
        margin-top: 15px;
    }
    li {
        margin-top: 5px !important;
    }
    .contenedor_central {
        width: 70%;
    }
}

@media(max-width:1229px) {
    .contenedor_central {
        width: 75%;
    }
}

@media(max-width:1142px) {
    .row {
        width: 84%;
    }
    .contenedor_central {
        width: 80%;
    }
}

@media(max-width:1068px) {
    .row {
        width: 95%;
    }
    .contenedor_central {
        width: auto;
    }
}

@media(max-width:926px) {
    .row {
        width: 90%;
    }
    #instrucciones h2 {
        margin-top: 5px;
    }
    #lista_instrucciones {
        margin-bottom: 0px;
    }
}

@media(max-width:922px) {
    ul {
        display: flex;
        flex-wrap: wrap;
    }
    #words li {
        padding: 3px 20px;
        list-style: none;
    }
}

@media(max-width:796px) {
    .row {
        width: 95%;
    }
}

@media(max-width:685px) {
    h1 {
        font-size: 2.1rem;
    }
    .row {
        width: 95%;
    }
    #puzzle {
        margin: 0px;
    }
}

@media(max-width:644px) {
    #words ul {
        padding-left: 25px;
    }
    #puzzle .puzzleSquare {
        height: 25px;
        width: 25px;
        font: 0.8em sans-serif;
    }
    ul {
        font-size: 0.8em;
    }
}

@media(max-width:537px) {
    #puzzle .puzzleSquare {
        height: 22px;
        width: 22px;
        font: 0.8em sans-serif;
    }
}

@media(max-width: 491px) {
    #cont_words {
        flex-direction: column-reverse;
    }
    #words {
        padding-top: 5px;
    }
    #cont_words {
        margin-top: 0px;
    }
}

@media(max-width:482px) {
    .contenedor_central {
        width: 98%;
    }
}

@media(max-width:444px) {
    .row {
        width: 100%;
    }
}

@media(max-width:416px) {
    #puzzle .puzzleSquare {
        height: 20px;
        width: 20px;
        font: 0.7em sans-serif;
    }
}

@media(max-width:356px) {
    .row {
        width: 98%;
    }
}

@media(max-width:344px) {
    #puzzle .puzzleSquare {
        height: 18px;
        width: 18px;
    }
}