.padre {
    display: flex;
    justify-content: center;
    height: 50%;
}

    .alert-primary {
    display: none;
}
    body {
      background-image: url("../img/fondo.jpg");
    }

    .contenedor {
      background-color: white;
      border: solid 1px gray;
      width: 280px;
      /* border-radius: 5px; margin-left: 462px; */
      /* float: left; */
      text-align: center;
     
      padding: 23px;

    }

    .validar {
      background-color: green;
      border-radius: 5px;
      font-size: 23px;
    }

    input {
      background-color: gainsboro;
      margin: 4px;
    }

    .m {
      border-radius: 7px;
      border: 1px solid black;
      font-size: 25px;
    }

    .d {
      margin: 25px;
    }

    .alt {
      display: flex;
    /* height: 300px; */
    /* align-items: center; */
    margin-top: 127px;
    flex-direction: column;
     justify-content: space-between;
    }

    input {
      align-items: center;
    }