p{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;

}

p{
    border-radius: 5px;
}

DIV {
    border: 1px solid #000000;
    border-radius: 7px;
    border-radius: 7px;
    padding: 10px;
    }

    