.form-control {
    text-align: center;
}

.formulario__grupo-input {
    margin: 0px 6px 10px;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
}

.info-id {
    margin-bottom: 10px;
}

.password2 {
    margin-bottom: 0px;
}

.modal-footer {
    padding: 5px;
    justify-content: center;
}

#checkbox {
    display: flex;
    margin-bottom: 10px;
}

.list-group-item {
    width: 50%;
    border: 1px solid rgba(0, 0, 0, .125) !important;
    padding: .5rem 1rem;
}

.info {
    font-size: 13px;
    margin: 0px;
    color: gray;
}

.formulario__grupo-incorrecto .formulario__grupo-input {
    box-shadow: 0 0 3px red;
    border-radius: 4px;
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 12px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__mensaje2 {
    display: none;
}

.formulario__mensaje-activo2 {
    display: block;
}

.formulario__mensaje {
    height: 45px;
    line-height: 54px;
    background: red;
    padding: 0 5px;
    border-radius: 3px;
    font-size: 10px;
    display: none;
}