@font-face{
    font-family: Montseerat-Regular;
    src: url(Montserrat-Regular.ttf);
}

body{
    font-family: Montseerat-Regular;
}

.nombres {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.datos {
    font-family: cursive;
    text-align: initial;
    font-size: 16px;
    margin: 0px;
    color: gray;
}

.col-form-label {
    
    font-size: 20px;
}

.pagination_usuarios {
    margin: 0px;
}

.form_search {
    width: 50%;
}

.separador_info {
    display: none;
}

.clearfix {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.alert_user {
    margin-bottom: 0px;
    text-align: center;
}

#tipo_usuario,
.btn-outline-secondary {
    border: 1px solid #ced4da;
}

#tipo_usuario,
.btn-outline-secondary {
    border-left-width: 0px;
}

.btn-outline-secondary {
    border-radius: 0 0.25rem 0.25rem 0;
}


.contenedor_tabla {
    width: 85%;
}

.table-responsive {
    align-items: center;
    border-radius: 10px;
}

.todo {
    border-right: 2px solid;
    margin-top: 51px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.edit-input {
    text-align: center;
}

.detalle {
    display: flex;
}

.contenedores {
    width: 50%;
}

#titulo {
    text-align: center;
}

.todo2 {
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.body-editar {
    display: flex;
}



hr {
    width: 80%;
}

.modal-header {
    display: flex;
}

.por {
    display: flex;
    flex-direction: column;
    margin-left: 7px;
}

.modal-body {
    text-align: center;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    justify-content: space-around;
}

.col-md-12 {
    padding-top: 23px;
    margin-left: 98px;
}

td {
    font-size: 17px;
}

.por {
    text-align: left;
}

h4 {
    text-align: center;
    margin: 10px 0;
}

@media(max-width: 1326px) {
    .pagination_usuarios {
        margin-bottom: 10px;
    }
}

@media(max-width:991px) {
    .detalle {
        flex-direction: column;
    }
    .contenedores {
        width: 100%;
    }
    .todo {
        border: 0px;
    }
    .separador_info {
        display: block;
        width: 90%;
        margin: 0px;
        margin-left: 5%;
    }
    .todo2 {
        margin-top: 20px !important;
        justify-content: space-around !important;
    }
    .form_search {
        width: 80%;
    }
}

@media(max-width:446px) {
    .nombres {
        width: 40%;
    }
    .nombres label {
        overflow: hidden;
    }
}