.nav-link1 {
    text-decoration: none !important;
    color: white;
    padding: 20px;
    display: block;
}

.nav-item1 {
    display: inline-block;
    text-align: center;
}

.navbar1 {
    position: relative;
    background-color: #000000;
    list-style: none;
    padding: 0;
    margin: auto;
}

.nav-link1:hover {
    background: #008eca;
}

.navbar-nav1 {
    margin: 0px;
    display: flex;
    justify-content: flex-end;
}

.pa {
    margin: 0px;
    padding-top: 14px;
    font-size: 28px;
}

.collapse1 {
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
}


/*Perfil admin*/

.todo2 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

h3 {
    margin: 10px;
    font-size: 42px;
    text-align: center;
}

.todo {
    padding-right: 10px;
    margin: 25px 0px 20px;
    display: flex;
    justify-content: space-around;
}

.ubicar1 {
    font-size: 22px;
    font-family: cursive;
    display: flex;
    flex-direction: column;
}

.ubicar2 {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    color: gray;
}

.id {
    border-radius: 13px;
    border: 1px solid lightgrey;
    top: 61px;
    width: 55%;
    border-radius: 13px;
    border: 1px solid lightgrey;
}

.b {
    margin-top: 24px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 7px;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 1326px) {
    .todo2 {
        margin-top: 50px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
        padding-top: 6px;
        margin-bottom: 0px;
    }
    .seccion_pag {
        position: fixed;
        width: 100%;
        background-color: #424949;
        top: 66px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    li a:hover,
    li a.active {
        background: none;
        color: red;
    }
    #check:checked~ul {
        left: 0;
    }
    .navbar-nav1 {
        justify-content: flex-start;
        flex-direction: column;
        padding: 0px;
    }
    .nav-link1 b {
        justify-content: center;
    }
    .nav-link1 {
        padding: 15px;
    }
    .id {
        width: 70%;
    }
}

@media(max-width:659px) {
    .id {
        width: 85%;
    }
    h3 {
        font-size: 35px;
    }
}

@media(max-width:529px) {
    .id {
        width: 90%;
    }
}

@media(max-width:576px) {
    .ubicar2 {
        width: 40%;
    }
    #n,
    #e {
        overflow: hidden;
    }
}