.pagination_juegos {
    text-align: center;
}

.pagination_juegos .page-item {
    width: 20%;
}

.pagination_niveles {
    text-align: center;
}

.pagination_niveles .page-item {
    width: 9%;
}

.div_titulo {
    display: flex;
    justify-content: center;
    margin: 5px 0px;
}

.h4_titulo {
    width: 90%;
}